################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/TrainTemplate/FileContentIndex
/.vs/ProjectEvaluation/traintemplate.metadata.v7.bin
/.vs/ProjectEvaluation/traintemplate.projects.v7.bin
/.vs/TrainTemplate/v17/.futdcache.v2
/.vs/TrainTemplate/v17/.suo
/.vs/TrainTemplate/v17/DocumentLayout.json
/.vs/TrainTemplate/DesignTimeBuild/.dtbcache.v2
/TrainWeb/bin/Debug/netcoreapp3.1/TrainWeb.dll
/TrainWeb/bin/Debug/netcoreapp3.1/TrainWeb.exe
/TrainWeb/bin/Debug/netcoreapp3.1/TrainWeb.pdb
/TrainWeb/bin/Debug/netcoreapp3.1/TrainWeb.Views.dll
/TrainWeb/bin/Debug/netcoreapp3.1/TrainWeb.Views.pdb
/TrainWeb/obj/Debug/netcoreapp3.1/apphost.exe
/TrainWeb/obj/Debug/netcoreapp3.1/project.razor.vs.bin
/TrainWeb/obj/Debug/netcoreapp3.1/TrainWeb.AssemblyInfo.cs
/TrainWeb/obj/Debug/netcoreapp3.1/TrainWeb.AssemblyInfoInputs.cache
/TrainWeb/obj/Debug/netcoreapp3.1/TrainWeb.csproj.CoreCompileInputs.cache
/TrainWeb/obj/Debug/netcoreapp3.1/TrainWeb.csproj.FileListAbsolute.txt
/TrainWeb/obj/Debug/netcoreapp3.1/TrainWeb.dll
/TrainWeb/obj/Debug/netcoreapp3.1/TrainWeb.pdb
/TrainWeb/obj/Debug/netcoreapp3.1/TrainWeb.RazorCoreGenerate.cache
/TrainWeb/obj/Debug/netcoreapp3.1/TrainWeb.RazorTargetAssemblyInfo.cache
/TrainWeb/obj/Debug/netcoreapp3.1/TrainWeb.RazorTargetAssemblyInfo.cs
/TrainWeb/obj/Debug/netcoreapp3.1/TrainWeb.sourcelink.json
/TrainWeb/obj/Debug/netcoreapp3.1/TrainWeb.Views.dll
/TrainWeb/obj/Debug/netcoreapp3.1/TrainWeb.Views.pdb
/TrainWeb/TrainWeb.csproj
